.crystal-image {
    width: 150px;
    padding: 0 10px 0 10px;
}

#crystals {
    text-align: center;
}


html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}